@{
    ViewData["Title"] = "About";
}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div>
                <p class="lead">
                    "Blog" is a C# ASP.NET MVC project. This project utilizes the following technologies:
                </p>
                <ul>
                    <li>HTML/Bootstrap</li>
                    <li>C#</li>
                    <li>ASP.NET Core MVC</li>
                    <li>SQL Server</li>
                    <li>Entity Framework Core</li>
                    <li>Identity on ASP.NET Core</li>
                    <li>JavaScript/jQuery</li>
                </ul>
                <p>
                    Thank you for taking the time to have a look around! I am a fullstack .NET developer that primarily enjoys working with C# backend technologies.
                    I am extremely passionate about development and technology. I enjoy learning and teaching others what I know. I prefer backend development, 
                    while striving to have also have the ability to effectively utilize frontend technologies.
                </p>
                <p>
                    Please also feel free to visit my <a href="https://www.linkedin.com/in/kyle-givler/" target="_blank">LinkedIn</a> and my 
                    <a href="https://github.com/JoyfulReaper" target="_blank">GitHub</a>.
                </p>
            </div>
        </div>
    </div>
</div>

